__pycache__/
*.py[cod]

logs
*.log

.venv/

.env
.env.*

.vscode/

# .pytest_cache/
# .coverage
# htmlcov/

.ruff_cache/
.mypy_cache/

.ipynb_checkpoints/

dist/
build/
wheels/
*.egg-info/

node_modules/

site/